@charset "UTF-8";

div#video2 {
	display: block;
	position: relative;
	margin-left: 45px;
	margin-top: 25px;
	width: 440px;
	height: 300px;
	padding: 5px 0px 0px 5px;
	margin-bottom: -40px;

}

video#filme2{
	position: relative;
	border: 2px solid white;
	box-shadow: 1px 1px 4px black;
}




video#filme3 {
	display: block;
	position: relative;
	width: 99%;
	border: 1px solid #gray;
	box-shadow: 1px 1px 1px 1px black;
	margin-top: 0px;
	margin-bottom: 40px;
	margin-left: 1px;
	
}
